<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HiServlet</display-name>
    <servlet-name>HiServlet</servlet-name>
    <servlet-class>com.expleo.HiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiServlet</servlet-name>
    <url-pattern>/HiServlet</url-pattern>
  </servlet-mapping>
  <display-name>Webapp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Squaring</display-name>
    <servlet-name>Squaring</servlet-name>
    <servlet-class>com.expleo.Squaring</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Squaring</servlet-name>
    <url-pattern>/Squaring</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableOf</display-name>
    <servlet-name>TableOf</servlet-name>
    <servlet-class>com.expleo.TableOf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableOf</servlet-name>
    <url-pattern>/TableOf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Canteen</display-name>
    <servlet-name>Canteen</servlet-name>
    <servlet-class>com.expleo.Canteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Canteen</servlet-name>
    <url-pattern>/Canteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateSquare</display-name>
    <servlet-name>CalculateSquare</servlet-name>
    <servlet-class>com.expleo.CalculateSquare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateSquare</servlet-name>
    <url-pattern>/CalculateSquare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveName</display-name>
    <servlet-name>SaveName</servlet-name>
    <servlet-class>com.expleo.SaveName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveName</servlet-name>
    <url-pattern>/SaveName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveMobile</display-name>
    <servlet-name>SaveMobile</servlet-name>
    <servlet-class>com.expleo.SaveMobile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMobile</servlet-name>
    <url-pattern>/SaveMobile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpController</display-name>
    <servlet-name>EmpController</servlet-name>
    <servlet-class>com.expleo.controller.EmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpController</servlet-name>
    <url-pattern>/EmpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpControllerShow</display-name>
    <servlet-name>EmpControllerShow</servlet-name>
    <servlet-class>com.expleo.controller.EmpControllerShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpControllerShow</servlet-name>
    <url-pattern>/EmpControllerShow</url-pattern>
  </servlet-mapping>
</web-app>